body, html {
  box-sizing: border-box;
  background: #E4E4E4;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #890101;
}
html{
  background-image: url("../img/rag.png");
  background-repeat: no-repeat;
}
.logo {
  display: none;
}
.nav {
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
  padding-top: 15px;
  border-top: .5px solid black;
}
.nav ul {

    display: inline;
    list-style-type: disc;
    -webkit-padding-start: 0px;

}
.nav li {
  width: 26.3%;
  /*margin-right: 15px;
  margin-left: 5px;*/
  padding: 0 3%;
  text-align: center;
  display: inline-block;
  border-bottom: .5px solid black;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.nav ul li a {

  font-size: 14px;
  /*width: 68px;*/
}
.nav a:hover {
  color: #DF3030;
}
.header {
  text-align: center;
}
.header h3 {
  text-transform: none;
  color: grey;
  font-weight: lighter;
}
.header h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  line-height: .2em;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: -.05em;
}
.text {
  text-align: center;
}
.img-content h2{
  background: url(../img/ornament.png) no-repeat 0 50%;
  text-align: center;
}
.img-content b {
  background: #E4E4E4;
  padding: 20px;
}
.victors {
  float: left;
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 45%;
}
.victors img {
  width: 100%;
  border-radius: 10px;
}
.footer {
  background: url(../img/ornament.png) 50% 0 repeat-x;
  clear: both;
}
/*For mobile use only*/
/* IT BREACKS AT 600PX*/
@media (min-width: 600px) and (max-width: 1300px){
  .logo {
    display: block;
    padding: 6%;
    text-align: center;
  }
  .header {
    display: none;
  }
  .nav li{
    display: block;
    width: 80%;
    padding: 10%;
  }

  .top-content {
    float: left;
    width: 25%;
    padding: 2%;
  }
  .main-content {
    float: right;
    width: 66%;
    padding: 2%;
  }
  .text{
    padding-top: 50px;
  }
  .victors {
    margin-right: 2%;
    margin-left: 2%;
    width: 28%;
    font-size: 15px;
  }
  .victors figcaption {
    padding-bottom: 15px;
    height: 30px;
  }
}

@media (min-width: 1300px){

  .victors {
    margin-right: 1%;
    margin-left: 1%;
    width: 12%;
    font-size: 15px;
  }
  .logo {
    float: left;
    display: block;
    width: 25%;
  }
  .header {
    display: none;
  }
  .main-content {
    float: right;
    width: 70%;
  }
  .nav li {
    font-weight: bold;
    width: 13%;
    /*margin-right: 15px;
    /*padding: 0 3%;*/
    margin-left: 5%;
    text-align: center;
    display: inline-block;
    border-bottom: .5px solid black;
    padding-bottom: 15px;
    text-transform: uppercase;
  }

}
